@page "/ShoppingList"
@using BlazorApp.Data

<PageTitle>@Title</PageTitle>

<h3>ShoppingLists</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <EditForm Model="@grocery" OnSubmit="AddGrocery">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <p>
                    <label>
                        Name: 
                        <InputText @bind-Value="grocery.Name"/>
                    </label>
                </p>
                 <p>
                    <label>
                        Price: 
                        <InputNumber @bind-Value="grocery.Price"/>
                    </label>
                </p>
                <button type="submit" class="btn btn-sm btn-dark" >ADD GROCERY</button>
            </EditForm>
        </div>
    </div>
</div>

<table class="table table-sm">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in groceries)
    {
        <Item GroceryItems="@item" OnGroceryIncreasedPrice="OnGroceryIncreasedPrice" OnGroceryMinusPrice="OnGroceryMinusPrice" />
    }
</table>



<h1>Total (@sum) </h1>

@code {
    private string? Title = "Our Groceries";
    private string? groceryName;
    private float groceryPrice;
    private float sum;

    private List<Grocery> groceries = new();

    private Grocery grocery = new();

    private void AddGrocery() {
        groceries.Add(grocery);
        grocery = new();
        UpdateAllAmount();
    }
    public void UpdateAllAmount() {
        sum = groceries.Sum(val => val.Price);
    }
    public void OnGroceryIncreasedPrice(){
        UpdateAllAmount();
    }
    public void OnGroceryMinusPrice()
    {
        UpdateAllAmount();
    }
}
