@page "/ShoppingList"
@using BlazorApp.Data

<PageTitle>@Title</PageTitle>

<h3>ShoppingLists</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <input placeholder="Grocery Name" @bind="groceryName" class="form-control mb-2"/>
            <input placeholder="Grocery Price" @bind="groceryPrice" class="form-control mb-2" />
        </div>
    </div>
</div>

<button @onclick="AddGrocery" class="btn btn-outline-success">ADD GROCERY</button>

<ul>
    @foreach (var item in groceries)
    {
        <li>@item.Name - @item.Price $</li>
    }
</ul>

<h1>Total (@sum) </h1>

@code {
    private string? Title = "Our Groceries";
    private string? groceryName;
    private float groceryPrice;
    private float sum;

    private List<Grocery> groceries = new();

    private void AddGrocery() {
        if(!string.IsNullOrWhiteSpace(groceryName) && groceryPrice > 0) {
            groceries.Add(new Grocery()
                {
                    Name = groceryName,
                    Price = groceryPrice
                });
                sum += groceryPrice;
                groceryName = string.Empty;
                groceryPrice = 0;
        }
     }
}
