@page
@model RazorPizza.Pages.Forms.CustomModel
@{
}

<div class="text-center container">
    <div class="col-6">
        <h1>Create your own Pizza</h1>
        <form method="post" style="text-align:left;" class="p-5 rounded-5 bg-light col-12">
            <input type="text" asp-for="Pizza.Name" placeholder="Give your pizza a name" class="col-12"/>
            <br />
            <br />
            <input type="checkbox" asp-for="Pizza.TomatoSauce" placeholder="Give your Tomato Sauce" />Tomato
            <br />
            <input type="checkbox" asp-for="Pizza.Cheese" placeholder="Give your Cheese" />Cheese
            <br />
            <input type="checkbox" asp-for="Pizza.Peperoni" placeholder="Give your Peperoni" />Peperoni
            <br />
            <input type="checkbox" asp-for="Pizza.Mushroom" placeholder="Give your Mushroom" />Mushroom
            <br />
            <input type="checkbox" asp-for="Pizza.Tuna" placeholder="Give your Tuna" />Tuna
            <br />
            <input type="checkbox" asp-for="Pizza.Pineapple" placeholder="Give your Pineapple" />Pineapple
            <br />
            <input type="checkbox" asp-for="Pizza.Ham" placeholder="Give your Ham" />Ham
            <br />
            <input type="checkbox" asp-for="Pizza.Beef" placeholder="Give your Beef" />Beef
            <br />
            <input type="text" asp-for="Pizza.Favorite" placeholder="Tell me your favorite"/>Descripe ur emotional
            <br />
            <button class="btn btn-primary mt-3" type="submit">
                Order My Pizza
            </button>
        </form>
    </div>
</div>