@inherits LayoutComponentBase

<div class="layout">
    <div class="header">
        <h1>Our Lists</h1>
        <div>
            <a>@today.ToString("ddddd, dd MMM yyyy")</a>
        </div>
    </div>
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="content">
        <p>
            @Body
        </p>
    </div>
    <div class="footer">
        <footer>
            @footerMessage
        </footer>
    </div>
</div>


@code {
    private DateTime today = DateTime.Today;
    private string footerMessage { get; set; } = "Great Shopping";
}
